@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Nunito:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.brand-name {
  font-family: 'Henny Penny', cursive !important;
  color: #ffd700 !important;
  font-size: 2rem;
  display: inline-block;
}